.banner-image-home{
    width: 53% ;
}

.heade{
    display: flex;
    justify-content: space-between;
}
.banner-right{
    width: 65%;
    display: flex;
    flex-direction: column;
}

.banner-text{
    margin-top: 360px;
}

.text1{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2.8em;
    margin-bottom: 2px;
    text-shadow: 1px 1px 4px #FF9F00;
}
.text2{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2.3em;
    margin-bottom: 35px;
    text-shadow: 1px 1px 4px #FF9F00;
}
.banner-linha{
    background-color: #FF9F00;
    width: 51%;
    height: 3px;
}
.banner-text2{
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}
.text3{
  
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}
.mes{
    color: gray;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1em;
    
}
.banner-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 150px;
    text-align: end;
    margin-top: 5%;
    margin-right: 20%;
    font-family: 'Oswald', sans-serif;
}
.text4{
    color: gray;
    margin-top: 5px;
    font-size: 0.7em;
    width: 100%;
}

.Im-1F{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Im-1FITX{
    width: 47%;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.9em;
}
.Im-1FIp{
    color: gray;
    margin-top: 5px;
    font-size: 1em;
}
.Im-2WW{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.line{

    margin-top: 75px;
    width: 100%;
    height: 1vh;
    background-color: gray;
    margin-bottom: 75px;
}
.Im-2WWTX{
    width: 47%;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.9em;
}
.Im-2WWp{
    color: gray;
    margin-top: 5px;
    font-size: 1em;
}
